<%= form_with model: article do |form| %>
  <div>
    <div class="text-xl font-bold">
    <%= form.label :title %><br>
    </div>
    <%= form.text_field :title %>
    <% article.errors.full_messages_for(:title).each do |message| %>
      <div class="text-red-700"><%= message %></div>
    <% end %>
  </div>

  <div>
    <div class="text-xl font-bold">
    <%= form.label :body %><br>
    </div>
    <%= form.text_area :body %><br>
    <% article.errors.full_messages_for(:body).each do |message| %>
      <div class="text-red-700"><%= message %></div>
    <% end %>
  </div>
  <div>
    
    <div class="text-xl font-bold">
  <%= form.label :status %><br>
    </div>
  <%= form.select :status, Visible::VALID_STATUSES, selected: article.status || 'public' %>
</div>


  <div class="text-xl text-cyan-700 font-bold">
    <%= form.submit %>
  </div>

<div class="underline">
  <%= link_to 'Lists of Articles', articles_path %>
</div>
<% end %>
